body{
  width: 80%;
  margin: 0 auto;
  padding: 0;
  border: 1px solid red;
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  background-color: red;
  padding: 5px;
}
.container > div{
  background-color: #cccccc;
  text-align: center;
  padding: 10px;
}
.grid_item1{
  grid-column-start: 1;
  grid-column-end: 5;
}
.grid_item2{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
.grid_item3{
  grid-column-start: 3;
  grid-column-end: 5;
  
}
