.container {
  position: relative;
  width: 500px;
}

.image {
  display: block;
  width: 500px;
  height: auto;
}

.overlay {
  opacity: 0;
  transition: .4s ease;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top:0px;
  left:0px;
  text-align: left;

}
.words{
  margin-top: 50px;
  margin-left: 10px;
}
.h_set{
  text-align: center;
  line-height: 50px;
  width: 500px;
  height:50px;
  background-color:#B3050D;
  margin-bottom:0px;
  color:white;

}
.link_set{
  width: 500px;
  height:20px;
  color: white;
}
.bottom_set{
  margin-top: -4px;
  background-color: #0050A3;
  width: 500px;
  height:50px;
}
.bottom_set ul{
  margin:0px;
  padding: 0px;
  display: flex;
}
.bottom_set ul li{
  list-style: none;
  width: 166.66px;
  text-align: center;
}
.bottom_set ul li a{
  text-decoration: none;
  line-height: 50px;
}
.link_set:hover{
  background-color:#FF6347;
}
